<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel = "stylesheet" href="/static/css/quiz.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="quiz">
        <div class="heading">
            <h1>QUIZ QUESTIONS</h1>
        </div>
    </div>
    <div class="win">
        <h1>Sorry! Wrong answer</h1>
        <div class="tryagain">Try Again</div>
    </div>
    <div class="box">
        <div class="ques">
            <h3 id="ques"></h3>
        </div>
        <div class="ans">
          <div class="box1">A:
            <p class = "box2"></p>
          </div>  
          <div class="box1">B:
            <p class="box2"></p>
          </div>
          <div class="box1">C:
            <p class="box2"></p>
          </div>
          <div class="box1">D:
            <p class="box2"></p>
          </div>
        </div>
        <div id="nxt" class="nxt">Next</div>
    </div>
    <script src="/static/js/quiz.js"></script>
</body>
</html>